<!-- home.html -->
{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Subscription Management{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Subscription Management</h2>
        <form method="post" action="{% url 'home' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="mt-5">
            <h3>Subscription List</h3>
            <form method="post" action="{% url 'undo_last_delete' %}" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Undo Last Delete</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Subscription Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td>{{ subscription.sub_name }}</td>
                            <td>{{ subscription.price }}</td>
                            <td>{{ subscription.pay_date }}</td>
                            <td>
                                <form method="post" action="{% url 'delete_subscription' pk=subscription.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
